.grid {
    display: grid;
    gap: 5px;
    height: 70vh;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    place-items: center end;
}

.header {
    background-color: #2ecc71;
    height: 50px;
    width: 50px;
}

.content {
    background-color: #3498db;
    height: 50px;
    width: 50px;
}

.nav {
    background-color: #8e44ad;
    height: 50px;
    width: 50px;
}

.footer {
    background-color: #f39c12;
    height: 50px;
    width: 50px;
}